body {
  background-color: indianred;
  display: grid;
  grid-auto-rows: min-max(150px, auto);
  grid-gap: 10px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0;
  background-color: aqua;
  z-index: 1;
}

nav ul li {
  display: inline-block;
}

li a:hover {
  color: indianred;
}

.general {
  color: rgb(10, 209, 20);
  background-color: black;
  padding: 10;
}

footer {
  background-color: sandybrown;
  padding: 10;
}
