body {
  background-color: indianred;
}

header {
  background-color: aqua;
  position: fixed;
  width: 100%;
}

footer {
  background-color: sandybrown;
  position: fixed;
  bottom: 50;
  width: 100%;
  padding: 10;
}
