body {
  background-color: indianred;
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
}

nav {
  display: inline-element;
  background-color: aqua;
  padding: 10;
}

.general {
  color: rgb(10, 209, 20);
  background-color: black;
  padding: 10;
}

footer {
  background-color: sandybrown;
  padding: 10;
}
